@model  Tombstones.UI.Web.ViewModels.QuakersIndex
@{
    ViewBag.Title = "Quakers";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup>
                <h2>@ViewBag.Title</h2>
            </hgroup>
        </div>
    </section>
}

<aside>
    <h3>Information:</h3>
    <p>There are @Model.NumberOfRecords records.</p>
    @if (Model.SearchResults != null && Model.SearchResults.Count() > 0)
    {
        <p>Your search has returned @Model.SearchResults.Count results.</p>
    }
</aside>

<div class="content-wrapper">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <br />
        @Html.HiddenFor(mbox => mbox.NumberOfRecords)
        <span class="label width80">@Html.DisplayNameFor(m => m.Surname)</span>
        @Html.TextBoxFor(m => m.Surname)
        @Html.CheckBoxFor(m => m.SurnameStartsWith)
        <span class="label">@Html.DisplayNameFor(m => m.SurnameStartsWith)</span>
        <br />
        
        <span class="label width80">@Html.DisplayNameFor(m => m.Firstname)</span>
        @Html.TextBoxFor(m => m.Firstname)
        @Html.CheckBoxFor(m => m.FirstnameStartsWith)
        <span class="label">@Html.DisplayNameFor(m => m.FirstnameStartsWith)</span>
        <br />
        
        <input type="submit" name="Search" id="search" value="Search" />
    }
    @if (Model.SearchResults != null)
    {
        if (Model.SearchResults.Count > 0)
        {
        <table>
            <thead>
                <tr>
                    <th>Surname</th>
                    <th>Firstname</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.SearchResults)
                {
                    var url = string.Format(Tombstones.UI.Web.Controllers.QuakersController.DetailsLinkPathFormat, record.Id);
                    <tr>
                        <td><a href="@url" >@record.Surname</a></td>
                        <td>@record.FirstName</td>
                        <td>@record.Date</td>
                    </tr>
                }
            </tbody>
        </table>
        }
    }
</div>
