<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tombstones.bb</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34485151-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Tombstones.bb", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @*@Html.Partial("_LoginPartial")*@
                </section>
                <nav>
                    <ul id="menu">
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.IndexLinkPath">Home</a></li>
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.ResearchLinkPath">Research</a></li>
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.AboutLinkPath">About</a></li>
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.ContactLinkPath">Contact</a></li>
                    </ul>
                    @RenderSection("subNavigation", required: false)
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="content-wrapper">
                <span class="message-error">@ViewBag.ErrorMessage</span>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="content-wrapper">
                <span class="message-success">@ViewBag.SuccessMessage</span>
            </div>
        }
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Tombstones.bb</p>
            </div>
            <div class="float-right">
                <ul id="social">
                        <li><a href="https://www.facebook.com/pages/Tombstones-Website/110316705786089" class="facebook">Facebook</a></li>
                        <li><a href="https://twitter.com/TombstonesWeb" class="twitter">Twitter</a></li>
                        <li><div class="g-plusone" data-annotation="none" data-width="300"></div></li>
                </ul>
            </div>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
</script>

    @RenderSection("scripts", required: false)
</body>
</html>
