<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tombstones.bb</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @RenderSection("headCss", required:false )
    
    @Scripts.Render("~/bundles/modernizr")

@*    @if (ViewBag.DisbalePageTracking != null && ViewBag.DisbalePageTracking == false)
    {
        *@<script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34485151-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
 @*   }*@
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><span id="tombstonesTitle">@Html.ActionLink("Tombstones.bb", "Index", "Home")</span>
                    <span id="caribbeanFamilyHistoryTitle"><a href="http://www.caribbeanfamilyhistory.org">CaribeanFamilyHistory.org</a></span></p>
            </div>
            <div class="float-right">
                <section id="login">
                    @*@Html.Partial("_LoginPartial")*@
                </section>
                <nav>
                    <ul id="menu">
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.IndexLinkPath">Home</a></li>
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.ResearchLinkPath">Research</a></li>
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.AboutLinkPath">About</a></li>
                        <li><a href="@Tombstones.UI.Web.Controllers.HomeController.ContactLinkPath">Contact</a></li>
                    </ul>
                    @RenderSection("subNavigation", required: false)
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="content-wrapper">
                <span class="message-error">@ViewBag.ErrorMessage</span>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="content-wrapper">
                <span class="message-success">@ViewBag.SuccessMessage</span>
            </div>
        }
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Tombstones.bb</p>
            </div>
            <div class="float-right">
            </div>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

        $().ready(function () {
            var oldTitle = $("#tombstonesTitle");
            var newTitle = $("#caribbeanFamilyHistoryTitle");
            newTitle.hide();
            oldTitle.insertBefore("<del>");
            oldTitle.insertAfter("</del>");
            setTimeout(oldTitle.fadeTo(5000, 0.3), 10);
            newTitle.fadeIn(5000);
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
