@model Tombstones.UI.Web.ViewModels.MinistersIndex

@{
    ViewBag.Title = "Ministers";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup>
                <h2>@ViewBag.Title</h2>
            </hgroup>
        </div>
    </section>
}

<aside>
    <h3>Information:</h3>
    <p>There are @Model.NumberOfRecords records.</p>
    @if (Model.SearchResults != null && Model.SearchResults.Count() > 0)
    {
        <p>Your search has returned @Model.SearchResults.Count results.</p>
    }
</aside>

<div class="content-wrapper">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <br />
        @Html.HiddenFor(mbox => mbox.NumberOfRecords)
        <span class="label width80">@Html.DisplayNameFor(m => m.Lastname)</span>
        @Html.TextBoxFor(m => m.Lastname)
        @Html.CheckBoxFor(m => m.LastnameStartsWith)
        <span class="label">@Html.DisplayNameFor(m => m.LastnameStartsWith)</span>
        <br />
        
        <span class="label width80">@Html.DisplayNameFor(m => m.Firstname)</span>
        @Html.TextBoxFor(m => m.Firstname)
        @Html.CheckBoxFor(m => m.FirstnameStartsWith)
        <span class="label">@Html.DisplayNameFor(m => m.FirstnameStartsWith)</span>
        <br />
        
        <input type="submit" name="Search" id="search" value="Search" />
    }
    @if (Model.SearchResults != null)
    {
        if (Model.SearchResults.Count > 0)
        {
        <table id="searchResults" class="tablesorter">
            <thead>
                <tr class="roundedBox">
                    <th>Lastname</th>
                    <th>Firstname</th>
                    <th>Other names</th>
                    <th>Dates</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.SearchResults)
                {
                    var url = string.Format(Tombstones.UI.Web.Controllers.MinistersController.DetailsLinkPathFormat, record.Id);
                    <tr>
                        <td>@record.LastName</td>
                        <td>@record.FirstName</td>
                        <td>@record.OtherNames</td>
                        <td>@record.Dates</td>
                        <td>@record.Source</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="pager" class="pager">
	<form>
		<img src="~/images/first.png" class="first"/>
		<img src="~/images/prev.png" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="~/images/next.png" class="next"/>
		<img src="~/images/last.png" class="last"/>
		<select class="pagesize">
			<option value="5">5</option>
			<option selected="selected" value="10">10</option>
			<option value="20">20</option>
		</select> <br />
        <span class="width200 small">current page / total pages</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="width150 small">records per page</span>
	</form>
</div>
        }
    }
</div>


@section scripts {
    @Scripts.Render("~/bundles/tablesorter")

    <script type="text/javascript">
        $().ready(function ministerIndexReady() {
            $("#searchResults")
                .tablesorter({ widthFixed: true, widgets: ['zebra'] })
                .tablesorterPager({ container: $("#pager") })
            ;
        });
    </script>
}

@section headCss{
    @Styles.Render("~/Content/themes/tablesorter")
}