@model Tombstones.UI.Web.ViewModels.FileManagerIndex
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                @if (ViewBag.SubTitle != null)
                {
                    <h2>@ViewBag.SubTitle</h2>
                }
            </hgroup>

            @if (ViewBag.NewFile != null)
            {
                <text>The file that you just uploaded.</text>
                var newFile = (Tombstones.UI.Web.Models.UploadedFile)ViewBag.NewFile;
                <span>@newFile.FileName</span><br />
                <span>@newFile.FullPath</span>
            }
        </div>
    </section>

}

<div class="content-wrapper">
    <h3>Files that can be Imported.</h3>
    @if (Model.FilesInUploadFolder != null && Model.FilesInUploadFolder.Count() > 0)
    {
        foreach (var file in Model.FilesInUploadFolder)
        {
        <div class="roundedbox">
            <span class="width200 block">@file.Name</span><span class="width80 block">@file.Length</span>
        </div>
        }
    }
    <hr />
    <span>Files from DB</span><br />
    @if (Model.UploadedFiles != null && Model.UploadedFiles.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Uploaded on</th>
                    <th>Imported on</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var uploaded in Model.UploadedFiles)
            {
                <tr>
                    <td>@uploaded.FileName</td>
                    <td>@uploaded.UploadedAt.ToString()</td>
                    <td>
                        @if (uploaded.ImportedAt.HasValue)
                        {
                            @uploaded.ImportedAt.Value.ToString();
                        }
                        else
                        {
                            if (@Model.FilesInUploadFolder.Count(f => f.Name == @uploaded.FileName) == 1)
                            {
                            <a href="/filemanager/import/@uploaded.Id">Import now</a>
                            }
                            else
                            {
                            <span title="This file is no longer stored on the server and cannot be imported to the database">can't import</span>
                            }
                        }
                    </td>
                    <td>
                        @if (uploaded.ImportedAt.HasValue)
                        {
                            var url = string.Format("{0}{1}", Tombstones.UI.Web.Controllers.FileManagerController.UndoImportLinkPath,
                                uploaded.Id);
                            <a href="@url" title="Remove all records from this file.">Undo Import</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>

<aside>
    <ul>
        <li><a href="@Tombstones.UI.Web.Controllers.FileManagerController.UploadLinkPath">Upload</a></li>
    </ul>
</aside>

